* {
	font-family: Arial;
}

img {
	width: 200px;
	padding-left: 200px;
	padding-bottom: 30px;
}

label{
	font-size: small;
}

h1 {
	color: red;
}

#datosP {
	background-color: yellow;
}

fieldset {
	background-color: #D9D9D9;
}

legend {
	font-weight: bold;
	font-size: 25px;
	font-family: Times New Roman;
}

.container {
	background-color: #9FD5D1;
	padding-left: 200px;
	padding-top: 50px;
	padding-bottom: 20px;
}



